@font-face {
    font-family: myFirstFont;
    src: url(geomanist-regular-webfont.woff);
    /* https://befonts.com/geomanist-font-family.html */
}

h1 {
    font-size: 175px;
}

body {
    font-family: myFirstFont;
    font-weight: bold;
}